@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Delius&family=Tektur:wght@400..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=DM+Serif+Text:ital@0;1&family=Delius&family=Limelight&family=Rubik+Glitch&family=Tektur:wght@400..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=DM+Serif+Text:ital@0;1&family=Delius&family=Limelight&family=Nosifer&family=Rubik+Glitch&family=Tektur:wght@400..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Bungee+Spice&family=DM+Serif+Text:ital@0;1&family=Delius&family=Limelight&family=Nosifer&family=Rubik+Glitch&family=Tektur:wght@400..900&display=swap');


:root{
  --Azul-escuro: #0D1B2A;
  --Verde: #1B6E66;
  --Cinza-claro-neutro: #F4F4F4;
  --Branco: #fff;
  --Cinza-escuro-suave: #333333;
  --fonte02 : "Tektur", sans-serif;
  --fonte03: "Bungee Spice", sans-serif;
  --fonte04: "Nosifer", sans-serif;
  --fonte05: "Bruno Ace SC", sans-serif;
}
*{
 margin: 0;
 padding: 0;
}
body{
 background-repeat: no-repeat;
 font-family: 'Courier New', Courier, monospace;
 
}
.co{
  background: linear-gradient(to left, var(--Azul-escuro),var(--Verde));
  padding-top: 18%;
  padding-bottom: 10%;
}
.navp{
  background: linear-gradient(to left,var(--Verde),var(--Branco));
  padding: 15px 0;
  position: fixed;
  width: 100%;
}
.nav{
  margin: 0 2%;
  color: var(--Verde);
  display: flex;
}
.logo{
  flex: 50%;
}
.separa{
  margin-left: 5%;
  margin-right: 5%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.ima{
  width: 100%;
}
.projetos{
  background: linear-gradient(to right, var(--Cinza-escuro-suave),var(--Verde));
  flex: 40%;
  padding: 10px 0;
  
}

.centraliza{
  margin: 2%;
  color: var(--Cinza-claro-neutro);
  border-bottom: 5px solid var(--Verde);
  font-family: var(--fonte02);
  font-size: 20px;
}
.card{
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
}
.cardfi{
  flex: 50%;
  border: 1px solid #fff;
  margin: 1%;
  border-radius: 5px;
  background-color: var(--Azul-escuro);
}
.foto{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #000;
  background-color: var(--Cinza-escuro-suave);
  border-radius: 5px;
}
.nomep{
  height: 50px;
  background-color: var(--Verde);
  font-size: 30px;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  padding: 10px 0;
  font-family: var(--fonte03);
}
.hcj{
  margin-left: 20px;
}
.acessa{
  margin: 2%;
  margin-bottom: 10px;
}
.ace{
  width: 100%;
  padding: 10px 0;
  background-color: var(--Verde);
  border: 1px solid var(--Verde);
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  font-family: var(--fonte04);
}
.pro{
  border-bottom: 2px solid var(--Verde);
}
.eu{
  padding-top: 60%;
  padding-bottom: 60%;
  font-family: var(--fonte02);
  font-size: 40px;
}
.skills1{
  margin: 10px 2%;
  border: 1px solid #fff;
  padding: 10px 0;
  border-radius: 10px;
}
#skills{
  margin: 0 2%;
}
.skill-contant{
  display: grid;
  grid-template-columns: 1fr;
  gap: 30;
  margin: 2px 2%;
}
.skill-contant .info{
  display: flex;
  justify-content: space-between; /*fica do lado do outro*/
  color: #fff;
}
.skill-contant .nome{
  font-weight: bold;
}
.skill-contant .pocentage{
  font-weight: bold;
}
.skill-contant .barra{
  font-weight: bold;
  width: 100%;
  height: 8px;
  background: var(--Branco);
  border-radius: 4px;
}
.skill-contant .progresso{
  height: 100%;
  background-color: var(--Cinza-escuro-suave);
  border-radius: 4px;
}
.item{
  margin: 10px 0;
}
.footer{
  background-color: var(--Cinza-escuro-suave);
  padding-bottom: 20px;
  border-top: 4px solid var(--Azul-escuro);

}
.apresetacao{
  display: flex;
  flex-wrap: wrap;
  margin: 0 2%;
}
.conhe{
  flex: 80%;
  color: var(--Cinza-claro-neutro);
  margin-top: 10px;
  font-family: var(--fonte05);
}
.conhe1{
  flex: 10%;
  padding-left: 5px;
}
.imagem{
  cursor: pointer;
}
#desligar{
  display: none;
}
@media (min-width: 1024px){
 .eu{
  padding-top: 10%;
  padding-bottom: 17%;
 }
 .cardfi{
  flex: 40%;
 }
}